body {
  background-image: url(../img/flower5.jpg);
}

.sidebar {
  width: 50%;
  height: 570px;
  float: right;
  background-color: hotpink;
  padding: 20px;
  margin-top: 40px;
  border: 5px;
  background: radial-gradient(rgb(255,105,180,1) 40%, rgba(255,0,0,0));
  border-radius: 5%;
}

.sidebar h3 {
  font-size: 35px;
  margin-top: 160px;
  text-align: center;
  font-family: cursive;
}

.sidebar a {
  color: black;
}

.sidebar a:visited {
  color: purple;
}

h1 {
  text-align: center;
  color: black;
  line-height: 200px;
  font-family: cursive;
  font-style: italic;
  font-size: 100px;
  border: 5px;
  background: radial-gradient(rgb(255,105,180,1) 40%, rgba(255,0,0,0));
  border-radius: 20%;
}

h2 {
  text-align: center;
  color: black;
  font-family: cursive;
  font-style: italic;
  font-size: 40px;
  border: 5px;
  background: radial-gradient(rgb(255,105,180,1) 40%, rgba(255,0,0,0));
  border-radius: 20;
  line-height: 100px;
}

.center {
  display: block;
  width: 50%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  float: left;
}

#mission {
  font-size: 30px;
  font-style: normal;
  margin: 60px;
}

#aboutme .cat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  padding-top: 20px;
}

#aboutme .col-md-6 .panel {
  text-align: left;
  background-color: pink;
}

.well {
  height: 300px;
  width: 350px;
  background-color: pink;
}

.language {
  font-style: italic;
}

.footer {
  margin-top: 30px;
  font-family: cursive;
  font-size: 50px;
  border: 5px;
  background: radial-gradient(rgb(255,105,180,1) 40%, rgba(255,0,0,0));
  border-radius: 20;
  padding: 20px;
}

.footer a {
  color: black;
}

.footer a:visited {
  color: purple;
}
